/*Style for the navigation bar*/
ul
    {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: black;
    height: 25%;
    position: fixed;
    overflow: auto;
    }

li a
    {
    display: block;
    color:rgb(138, 83, 175);
    padding: 8px 16px;
    text-decoration: none;
    }
li a:hover {
  background-color:rgb(240, 49, 27);
  color:rgb(43, 43, 43);
  }

/*Style for body and main content of home page*/
body
    {
    background-color: rgb(43, 43, 43)
    }

h1  {
    color: rgb(138, 83, 175);
    font-size: 8em;
    margin-bottom: .3em;
    text-align: center;
    text-decoration: bold;
  }

h2  {
    color:rgb(207, 210, 226)
    }

p   {
    color:rgb(207, 210, 226)
    }

blockquote   {
    color:rgb(207, 210, 226)
    }

    
ul2   {
  color:rgb(207, 210, 226)
  }

li2   {
    color:rgb(207, 210, 226)
    }

address   {
    color:rgb(207, 210, 226)
    }

pre   {
    color:rgb(207, 210, 226)
    }

a   {
    color:rgb(186, 114, 189)
    }


table {
    margin: .3em;
    width: 290px;
  }
  
th {
    padding: .2em;
  }
  
td {
    background-color: #ffc;
    border: 1px solid #900;
    padding-left: .5em;
    padding-right: .5em;
  }
  
#trHeader {
    color: #900;
    text-decoration: underline;
  }
  
.centerCell {
    text-align: center;
  }